.feature-section {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.616) 0%,
      rgba(0, 0, 0, 0.616) 100%
    ),
    url("../../assets/images/hero-img/features1.png") no-repeat;
  background-attachment: fixed;
}
